- student.clazzes.each do |clazz|
  %h3 Class #{clazz.name} 
  %ul
    - clazz.offerings.each do |offering|
      %li 
        - if offering.runnable 
          = render :partial => 'shared/offering_for_student', :locals => {:offering => offering}
        - else
          = "No runnable for this offering: #{offering.name}"
        