- student.clazzes.each do |clazz|
  %h3 Class #{clazz.name} 
  %ul
    - clazz.offerings.each do |offering|
      %li 
        - if offering.runnable 
          = render :partial => 'shared/runnable_for_student', :locals => {:runnable => offering.runnable}
        - else
          = "No runnable for this offering: #{offering.name}"
        