
Select a RITES Investigation to run from the list below:
- if @portal_student.changeable?(current_user)
  = render :partial => 'portal/clazzes/list_for_student', :locals => { :student => @portal_student }
