<h1>Editing teacher</h1>

<% form_for(@teacher) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @teacher %> |
<%= link_to 'Back', portal_teachers_path %>