<h1>Editing semester</h1>

<% form_for(@semester) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @semester %> |
<%= link_to 'Back', semesters_path %>