
- field_set_tag 'name' do
  = @semester.name
- field_set_tag 'description' do
  = @semester.description

= link_to 'Edit', edit_rites_portal_semester_path(@semester)
= link_to 'Back', rites_portal_semester_path